pandas == 2.1.4
numpy == 1.26.4
streamlit == 1.32.2
joblib == 1.2.0
scikit-learn == 1.2.2
xgboost == 2.0.3
statsmodels == 0.14.0
matplotlib == 3.8.0
requests == 2.31.0
beautifulsoop4 == 4.12.2
geopandas == 0.13.2
plotly == 5.9.0
